.MainColumn {
	width: 90%;
	margin-top: 2em;
	margin-bottom: 2em;			
	margin-right: auto;
	margin-left: auto;
	padding: 1em;
	border: 1px solid #aaa;	
	background-color: #eee;
}

.TopLeftCorner {
	float: left;
	margin-right: 1em;
	margin-bottom: 1em;
}

.MainTitle {
	font-size: 180%;
	margin-bottom: 1em;
	text-align: center;
}

.MainTitleMainPage {
	font-size: 180%;
	text-align: center;
}
.SubTitleMainPage {
	font-size: 80%;
	text-align: center;
}	

.Title {
	font-size: 120%;
	margin-top: 0.5em;
	margin-bottom: 0.25em;
}
.TitleFR {
	font-size: 140%;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 0.4em;
}
.TitleFR1 {
	font-size: 120%;
	margin-top: 0.5em;
	margin-bottom: 0.25em;
}
a:link {
	font-weight: bold;
	color: #004488;	
}	
a:visited {
	font-weight: bold;
	color: #004488;
}
a:hover {
	color: #2288CC;
	background: #EEE;
}
ul {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}
.new {
	color: #f00;
	font-weight: bold;
}